/*05-ScrollRevealJS*/
@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1573121350026');
  /* IE9 */
  src: url('iconfont.eot?t=1573121350026#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALQAAsAAAAABrwAAAKEAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBRIFPATYCJAMICwYABCAFhG0HMRv2BRHVi3+yHwc5WZe5OArwNb1loidNPwfPf/79u8+deWT1qRJ2pCpVKsl1Vg+2Mu7iXOUIjIhQI3mKUKEvpAPO8iSM/wD4n8vpXfN5IPMD5TLXpKNegPHWgPbGKLKis9BbhpcPrYN+DAGcxJGD1B7vL5iigVUCyOQ0VjAtBNBokbYjWBsOamQtFuzGMuMswJro+/KGSOxgYFFAVeekg4X1c5vMUnPNuSMCBOFyNkAcAwXkABqktzHRzgARNIUzMSQJjlUu8NxmmoEJOaoeEX8dlLoBiMGCZxJ6okdtMgDQPPtoKTBskh8sbpg84/9q77VrfTduDFy/PtWV9ce8PN6rV0e5N26du83lWbFj3vZelbq8Kv5J6RH9+7f2pUc5D/MpF0uP4EmuK6UH1e3b6pA6GMgOch7hYS7G4yho2vs57ourafkk7rFrB2ctb3J9iT0W+4Q1AJhn1BFV9ld/g05tujDaV/rN7tIA3HrtrYt85hnNMBfYz+0U+IfCgS3aEoPR0IawMWNQiuXeZE4ZBhPwBLk/VRO5YZtgLwgFGNiIBYWdFFSTc8CCi1ywYqcCnGTTcNxFiCkMEO0AsliEQPBzGAy8nACFn3OoJt8DC1HegRW/KHDSL6ELXaRhks53TErIov7D1NSVc80yj8sfFH8VivPiiP4h7tIwhl5QTp+oIl5iS/cdRyIOHdclHtFzVBQ1NlxnZMRLRJqV77umN3mmLmHOjkkJWUT/IampKxd0lnnl8w+KvwrFHZgm54e4S8dHQjyCAehJUQ3CPMor3XccIeIQx3WJHJGNCpmokaZ5XkZGPJIJsWaFT9q5oQpve1X5d7sAmAPavsiZA5iMV6lVVQgA') format('woff2'), url('iconfont.woff?t=1573121350026') format('woff'), url('iconfont.ttf?t=1573121350026') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont.svg?t=1573121350026#iconfont') format('svg');
  /* iOS 4.1- */
}
* {
  margin: 0;
  padding: 0;
}
p {
  height: 20px;
}
@media screen and (min-width: 1025px) {
  p {
    height: 90px;
  }
}
.iconfont {
  font-family: "iconfont" !important;
  width: 50px;
  height: 50px;
  font-size: 50px !important;
  position: fixed;
  top: 5px;
  left: 5px;
  font-style: normal;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  width: 100%;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
@media screen and (min-width: 1025px) {
  body,
  html {
    font-size: 30px;
  }
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}
body .bg,
html .bg,
body .bg-pad,
html .bg-pad,
body .bg-mobile,
html .bg-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
@media screen and (min-width: 1025px) {
  body .bg,
  html .bg {
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  body .bg-pad,
  html .bg-pad {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  body .bg-mobile,
  html .bg-mobile {
    display: block;
  }
}
body .content,
html .content {
  width: 100%;
  overflow: hidden;
  padding-bottom: 57px;
}
body .content div,
html .content div {
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 1025px) {
  body .content div,
  html .content div {
    height: 400px;
    line-height: 400px;
  }
}
body .content div img,
html .content div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}
@media screen and (min-width: 1025px) {
  body .content div img,
  html .content div img {
    height: 350px;
    width: auto;
  }
}
body .content div:nth-child(odd),
html .content div:nth-child(odd) {
  background-color: rgba(255, 185, 150, 0.7);
}
body .content div:nth-child(even),
html .content div:nth-child(even) {
  background-color: rgba(145, 224, 255, 0.7);
}
body .content div:nth-child(1),
html .content div:nth-child(1) {
  background-color: rgba(255, 195, 67, 0.7);
}
body .footer .cur,
html .footer .cur {
  background-color: #ffc345 !important;
}
body .footer .left-side,
html .footer .left-side {
  z-index: 999;
  width: 60px;
  position: fixed;
  top: 56%;
  left: 0;
  transform: translateY(-50%);
  display: none;
}
body .footer .left-side ul > li,
html .footer .left-side ul > li {
  list-style: none;
  width: 60px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-bottom: 1px dashed #fff8f3;
  cursor: pointer;
  background: rgba(255, 195, 69, 0.7);
  font-size: 15px;
}
body .footer .right-side,
html .footer .right-side {
  z-index: 999;
  width: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
}
body .footer .bottom-side,
html .footer    .bottom-side {
  text-align: center;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  height: 58px;
  background-color: #ffb417b3;
  bottom: 0;
  line-height: 11px;
  left: 50%;
  font-size: 18px;
  color: #fff;
  transform: translate(-50%, 0%);
  z-index: 99;
  padding: 10px 0;
}
body .footer .right-side img,
html .footer .right-side img {
  width: 100%;
}
body .footer .right-side img:hover,
html .footer .right-side img:hover {
  transition: all 1s;
  transform-origin: right;
  transform: scale(1.7);
}
body .footer .right-side .gotHat,
html .footer .right-side .gotHat {
  display: none ;
  position: absolute;
  bottom: 230px;
  right: 0;
}
body .footer .right-side .getHat,
html .footer .right-side .getHat {
  position: absolute;
  bottom: 230px;
  right: 0;
}
body .footer .right-side .hat:nth-of-type(0),
html .footer .right-side .hat:nth-of-type(0) {
  position: absolute;
  bottom: 140px;
  right: 0;
}
body .footer .right-side .hat:nth-of-type(1),
html .footer .right-side .hat:nth-of-type(1) {
  position: absolute;
  bottom: 30px;
  right: 0;
}
