/*05-ScrollRevealJS*/
* {
  margin: 0;
  padding: 0;
}
p {
  height: 20px;
}
body,
html {
  width: 100%;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}
body .bg,
html .bg,
body .bg-pad,
html .bg-pad,
body .bg-mobile,
html .bg-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
@media screen and (min-width: 1025px) {
  body .bg,
  html .bg {
    display: block;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  body .bg-pad,
  html .bg-pad {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  body .bg-mobile,
  html .bg-mobile {
    display: block;
  }
}
body div,
html div {
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
body div img,
html div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
body div:nth-child(odd),
html div:nth-child(odd) {
  background-color: rgba(255, 185, 150, 0.7);
}
body div:nth-child(even),
html div:nth-child(even) {
  background-color: rgba(145, 224, 255, 0.7);
}
